.env
.env.local
.env.development.local
.env.test.local
.env.production.local


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


/frontend/dist/
/backend/dist/
build/
*.tsbuildinfo


*.o
*.out
*.exe
*.obj
.emscripten_cache/

.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
