# Server Configuration
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
PORT=3000

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
